POSTGRES_USER=databank
POSTGRES_PASSWORD=change-me
POSTGRES_DB=databank
KEYCLOAK_ADMIN=kcadmin
KEYCLOAK_ADMIN_PASSWORD=change-me
DATABANK_CLIENT_SECRET=change-me
DEV_USER_PASSWORD=change-me
AUDIT_SIGNING_KEY=change-me
AUDIT_PUBLIC_KEY=change-me
